<h1>{{__("Gestion de mon compte")}}</h1><br />
<a href="/user/update/form"><span class="btn">{{__("mon compte")}}</span></a>
<a href="/user/friendlist"><span class="btn">{{__("ma liste d'amis")}}</span></a>
<a href="/user/blacklist"><span class="btn">{{__("ma liste noire")}}</span></a>
