<form action="/admin/prospect/login/" method="post">                 
    <input type="email" name="email" placeholder="{{__("E-mail")}}" required="required" />
    <input type="password" name="password" placeholder="{{__("Mot de passe")}}" required="required" />        
    <input type="submit" class="btn-form btn-form-p" value="{{__("Connexion")}}" />
</form>