<script>
    if (navigator.geolocation) {
        console.log(navigator);
        navigator.geolocation.getCurrentPosition(
                successGetCurrentPositionAdminCallback,
                errorGetCurrentPositionCallback,
                {enableHighAccuracy: true, timeout: 10000, maximumAge: 600000});
    } else {
        $('#login-form').hide();
        console.log('api non dispo');
    }
</script>

<div class="div-box-main"> 
    <span class="div-box" id="login-form">
        <span class="div-box-header">
            <h1>{{__("Section réservée à l'administration")}}</h1>
        </span>
        <div class="div-box-body">  
            <form action="/admin/login/" method="post">                 
                <input type="text" name="login" placeholder="{{__("Login")}}" required="required" />
                <input type="password" name="password" placeholder="{{__("Mot de passe")}}" required="required" />        
                <input type="hidden" name="longitude" id="longitude" />
                <input type="hidden" name="latitude" id="latitude" />
                <input type="submit" class="btn-form btn-form-p" value="{{__("Connexion")}}" />
            </form>
        </div>
    </span>
</div>