<span class="ariane-header">
    <h1>{{__("Erreur 404")}}</h1>
</span>

<div class="div-box-main"> 
    <span class="div-box">
        <span class="div-box-header">
            <h1>{{__("Page non trouvée ou non autorisée")}}</h1>
        </span>
        <div class="div-box-body">  
            <a href="/home"><span class="button">{{__("continuer")}}</span></a>
        </div>
    </span>
</div>