<span class="div-box">            
    <div class="div-box-body">
        <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 350px; height: 450px;">
            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 350px; height: 450px;">
                <div>
                    <span class="div-box-header">
                        <h1>Votre site 100% gratuit</h1>
                    </span>                            
                    <br />
                    <p>aucun frais d’inscription, pas d’abonnement Premium…</p> 
                    <p>Parce que trouver la personne pour partager sa vie </p>
                    <img src="static/image/aborder-femme-terrasse.jpg" style="width: 345px; height: 240px;" />
                    <p>ne veut pas dire vider son compte en banque !</p>                                                
                </div>
                <div>
                    <span class="div-box-header">
                        <h1>un site accessible à tous</h1>
                    </span>
                    <p>que vous soyez hétéro, bi ou homo, que vous soyez jeunes ou un peu moins, célibataire, en solitaire ou heureux parent…</p>                            
                    <img src="static/image/rencontre-geolocalisee-800x.jpg" style="width: 335px; height: 230px;" />                    
                    <p>Vous trouverez forcément le partenaire idéal pour vous sur nice2meet2 !</p>
                </div>

                <div>
                    <span class="div-box-header">
                        <h1>Voyages entre célibataires</h1>
                    </span>
                    <p>nice2meet2 est le seul site de rencontres gratuit à proposer des voyages pour réunir ses membres. A la mer, à la montagne, vers des horizons lointains…</p>
                    <img src="static/image/parship-revolution-sites-de-rencontre-800x.jpg" style="width: 345px; height: 240px;" />
                    <p>Profitez de ces vacances pour rencontrer votre âme soeur !</p>
                </div>

                <div>
                    <span class="div-box-header">
                        <h1>des Flash events</h1>
                    </span>                            
                    <p>grâce à nos fidèles partenaires, vous bénéficiez d’offres promotionnelles 
                    ponctuelles près de chez vous, qui vous permettront de faire connaissance 
                    avec les membres nice2meet2 de votre ville !</p>
                    <img src="static/image/comment-parler-a-une-femme-pour-la-seduire-800x.jpg" style="width: 345px; height: 240px;" />                    
                </div>
            </div>
        </div>
    </div>
    <!--<div class="div-box-body">
        <img src="static/image/aborder-femme-terrasse.jpg" style="width: 345px; height: 250px;" />
        <br />
        <p>df dsjfdoisfnsdi fjsd sdjfnsdjf sdofjns dfjdsof jdsn ofisdjn fiodsj nfosdifj sdoifn dso fnsd nf</p>
        <form>
            <input type="submit" class="btn-form btn-form-b" value="en savoir plus" />
        </form>
    </div>-->
</span>     